body{
    font-family: $baseFont;
    background: $secondColor;
    color: $firstColor;
    img{
        padding-left: 20%;
    }
    .jumbotron{
        background: $secondColor;
        padding-top: 20%;
        h1{
            padding-top: 10%;
            padding-bottom: 8%;
            font-size: 40px;
            position: relative;
        }
        span{
            font-size: 12px;
            position: absolute;
            top: 1;
        }
        h2{
            font-size: 24px;
            line-height: 1.5;
            padding-right: 40%;
        }
        .btn{
            background: $secondColor;
            border: 1px solid $firstColor;
            border-radius: 6px;
            font-size: 16px;
            width: 170px;
        }

        .btn:hover,
        .btn:focus{
            cursor: pointer;
            color: $thirdColor;
            background: $firstColor;
            border: 1px solid $secondColor;
        }
    }

    .modal{
        // opacity: 0.9;
        // background: $firstColor;
        color: $fourthColor;
        // margin-top: 5%;
        // padding: 5%;

        .modal-content{
            background: $firstColor !important;
            padding: 4%;
            border-radius: 8px;
            border: 3px solid $sixthColor;
        }
        .boxRight{
            border-right: 1px solid $thirdColor;
        }
        h3{
            font-size: 18px;
            font-weight: 700;
        }

        p{
            font-size: 16px;
        }

        .bottomMessage{
            margin-top: 10%;
            border-top: 1px solid $thirdColor;
            padding-top: 2%;
        }

        .btn{
            color: $fourthColor;
            background: $fifthColor;
            width: 170px;
            font-size: 15px;
            font-weight: 600;
            border-radius: 3px;
            margin-top: 20px;
            margin-bottom: 20px;
            border: 3px solid $fifthColor;
        }

        .learnBtn{
            color: $fourthColor;
            background: $firstColor;
            width: 170px;
            font-size: 15px;
            font-weight: 600;
            border-radius: 3px;
            margin-top: 20px;
            margin-bottom: 20px;
            border: 3px solid $fifthColor;
        }
    }
    .modal-backdrop {
        background-color: #ffffff !important;
    }
   
}
