body{
    font-family: $baseFont;
    background: $secondColor;
    color: $firstColor;
    img{
        padding-left: 20%;
    }
    .jumbotron{
        background: $secondColor;
        padding-top: 20%;
        padding-right: 40%;
        h1{
            padding-top: 10%;
            font-size: 40px;
        }
        span{
            font-size: 14px;
        }
        h2{
            font-size: 24px;
            line-height: 1.5;
        }
    }
}
